<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aarón</title>
  <link id="changeStyle" rel="stylesheet" href="../../bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="../../css/custom.css">
</head>

<body>

  <!-- Navbar -->

  <div class="alert alert-success" role="alert">
    Datos actualizados.
  </div>
  <div class="container mt-4">
    <!-- Card -->
    <div class="row">
      <div class="col-md-12 data">
        <div class="card">
          <div class="card-header d-flex custonFlex">
            <span>nick</span>
            <span>FEcha</span>
          </div>
          <div class="card-body">
            <h5 class="card-title">Título de la Card</h5>
            <p class="card-text">Este es un ejemplo de texto dentro de una card. Puedes poner cualquier contenido aquí.
            </p>
            <a href="#" class="btn btn-danger">Borrar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="../../../node_modules/axios/dist/axios.min.js"></script>
  <script src="../../funciones/funciones.js"></script>
  <script src="../../controller/constants.js"></script>
  <script src="../../controller/misPost.js"></script>
  <script src="../../controller/changeStyle.js"></script>
</body>

</html>