<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Tu Aplicación Electron</title>
    <link rel="stylesheet" href="../css/custom.css">
    <link id="changeStyle" rel="stylesheet" href="../bootstrap/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title text-center">Cambiar IP</h3>
                    </div>
                    <div class="card-body">
                        <form id="loginForm">
                            <div class="form-group">
                                <label for="ip">IP:</label>
                                <input type="text" class="form-control" id="ip" name="ip" placeholder="http://192.168.1.105:8080" required>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Cambiar ip</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    <script src="../funciones/funciones.js"></script>
    <script src="../controller/ipController.js"></script>
    <script src="../controller/changeStyle.js"></script>
</body>
</html>