<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aarón</title>
    <link id="changeStyle" rel="stylesheet" href="../../bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/custom.css">
</head>

<body>

    <div class="alert alert-success" role="alert">
        Te has quitado de la actividad.
    </div>
    <div class="alert alert-success menssage" role="alert">
        No te has inscrito a ninguna actividad.
    </div>
    <div class="container mt-4">
        
        <!-- Card -->
    </div>
    <script src="../../../node_modules/axios/dist/axios.min.js"></script>
    <script src="../../funciones/funciones.js"></script>
    <script src="../../controller/constants.js"></script>
    <script src="../../controller/misInscripciones.js"></script>
    <script src="../../controller/changeStyle.js"></script>
</body>

</html>